.dashboard__bookings {
  margin: 10rem auto 0 auto;
  width: 60%;
}

.dashboard {
  height: 100vh;
}

.ant-collapse-content-box {
  max-height: 400px !important;
  overflow: scroll;
}

.dashboard__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.1rem !important;
  color: rgb(95, 95, 95) !important;
  background-color: rgba(0, 0, 0, 0.021) !important;
}

.dashboard__addBooking {
  position: absolute !important;
  top: 15.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3.2rem;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
}

.noBooking {
  text-align: center;
}

.dashboard__bookings-editbutton {
  margin-right: 1rem;
}
