.dashboard__bookings {
  margin: 10rem auto 0 auto;
  width: 60%;
}

.dashboard {
  height: 100vh;
  background-color: #e3ddec;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23c8bed8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ant-collapse-content-box {
  max-height: 400px !important;
  overflow: scroll;
}

.dashboard__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.1rem !important;
  color: rgb(95, 95, 95) !important;
  background-color: rgba(0, 0, 0, 0.021) !important;
}

.dashboard__addBooking {
  position: absolute !important;
  top: 15.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3.2rem;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
}

.noBooking {
  text-align: center;
}

.dashboard__bookings-editbutton {
  margin-right: 1rem;
}
